* {box-sizing:border-box}
.swiperMain{
  width: 1865px;
  height: 1000%;

}
.detalhestabela{
  text-align: center;
  width: 100%;
}

.swiper-wrapper > .swiper-slide{
  height: 40rem;
}
.carrinhoTitulo{
  
  justify-content: center !important;
  align-items: center !important;
  display:flex !important;
  font-size:30px;
}
.scontainer{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
 .swiper-slide{
  background: #ccc;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:60px;
}
.nav2{
  background-color:#2f3338 !important;
  align-items: center !important;
  display:flex !important;
  justify-content: center !important;
}
.leftnav{
  align-items: left !important;
  display:flex !important;
  justify-content: left !important;
}
.rightnav{
  align-items: right !important;
  display:flex !important;
  justify-content: right !important;
}
.centernav{
  align-items: center !important;
  display:flex !important;
  justify-content: center !important;
}
.textnav{
  color:#e8e8e8 !important;
}
.img {
  display: block;
  object-fit: cover;
  width:100%;
  height:100%;
}
.color{
  color:#2f3338 !important;
}
/* posicao do botao de finalizar compra */
.pos{
  position: absolute !important;
  top: 90% !important;
  right: 30% !important;
  margin-left: 30px !important;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #424242; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #afabab;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
